* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fcfcfc;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-subtitle {
  color: #6d6d6d;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
  padding: 2em 0;
}

.card-body {
  font-size: 15px;
  padding: 1em 0;
}

.card-footer {
  font-size: 15px;
  font-weight: bold;
  padding: 2em 0;
}


.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-range {
  width: 100%;
  margin: 0 auto;
}